name: Benchmark build speed and upload results

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2

      - name: Checkout Duckduckgo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2
        with:
          repository: duckduckgo/Android
          path: scripts/benchmark/Android
          ref: 1301996268b2c6c02ea0ae88934eca9da74bf806
          submodules: true

      - name: Install SDKMAN, Gradle Profiler and Begin Profiling
        run: |
          curl -s "https://get.sdkman.io" | bash
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk install gradleprofiler 0.17.0
          cd scripts/benchmark
          chmod +x benchmark-build-speed.sh
          ./benchmark-build-speed.sh

      - name: Upload results
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.sha }}
          path: ${{ github.workspace }}/scripts/benchmark/results/
