name: Benchmark build speed and upload results

on:
  pull_request:
    paths:
      - '**/instrumentation/**'

jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Checkout Duckduckgo
        uses: actions/checkout@v3
        with:
          repository: duckduckgo/Android
          path: scripts/benchmark/Android
          ref: 1301996268b2c6c02ea0ae88934eca9da74bf806
          submodules: true

      - name: Install SDKMAN, Gradle Profiler and Begin Profiling
        run: |
          curl -s "https://get.sdkman.io" | bash
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk install gradleprofiler 0.17.0
          cd scripts/benchmark
          chmod +x benchmark-build-speed.sh
          ./benchmark-build-speed.sh

      - name: Upload results
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: ${{ github.workspace }}/scripts/benchmark/results/
