name: Build

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  job_build_upload:
    name: Build and upload distribution artifact
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout current commit (${{ github.sha }})
        uses: actions/checkout@v3

      - name: Setup Gradle
        uses: gradle/gradle-build-action@7e48093f71aa12588241894ff3695e83c4b5e4b0 # pin@v2.4.2

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Kotlin Compiler artifacts
        run: make all

      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/plugin-build/build/distributions/*.zip
            ${{ github.workspace }}/sentry-kotlin-compiler-plugin/build/distributions/*.zip

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # pin@v3
        with:
          name: sentry-android-gradle-plugin
