name: Build and upload artifacts

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  job_build_upload:
    name: Build and upload distribution artifact
    runs-on: ubuntu-latest
    steps:

      - name: Checkout current commit (${{ github.sha }})
        uses: actions/checkout@v2

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Build distribution artifacts
        run: |
          cd plugin-build
          make all

      - name: Archive artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ github.sha }}
          path: ${{ github.workspace }}/plugin-build/build/distributions/*.zip

      - name: Verifies Sentry CLI is bundled
        shell: bash
        run: |
          zipfile=$(ls -1 plugin-build/build/distributions | grep -v "PluginMarker")
          filename=${zipfile/\.zip/}
          unzip plugin-build/build/distributions/$filename.zip -d /tmp
          unzip /tmp/$filename/$filename.jar -d /tmp/jar/
          find /tmp/jar | grep "bin/sentry-cli"
