name: Build

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  job_build_upload:
    name: Build and upload distribution artifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current commit (${{ github.sha }})
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v6 # v2

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # pin@v4

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Gradle Plugin and Kotlin Compiler Plugin distribution artifacts
        run: ./gradlew :plugin-build:assemble :sentry-kotlin-compiler-plugin:assemble

      - name: Archive artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/plugin-build/build/distributions/*.zip
            ${{ github.workspace }}/sentry-kotlin-compiler-plugin/build/distributions/*.zip

      - name: Verify artifact contents
        shell: bash
        run: |
          zipfile=$(ls -1 plugin-build/build/distributions | grep -v "PluginMarker" | grep -v ".tar")
          filename=${zipfile/\.zip/}
          unzip plugin-build/build/distributions/$filename.zip -d /tmp
          find /tmp/$filename | grep "pom-default.xml"
          unzip /tmp/$filename/$filename.jar -d /tmp/jar/
          find /tmp/jar | grep "bin/sentry-cli"
          cat /tmp/$filename/pom-default.xml | grep -v "dev.gradleplugins"
