name: integration-tests-sentry-cli

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration-test:
    runs-on: ubuntu-latest
    env:
      SENTRY_URL: http://127.0.0.1:8000
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10.5'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # pin@v4

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Start server and run integration test for sentry-cli commands
        run: |
          test/integration-test-server-start.sh &
          ./gradlew -p plugin-build integrationTest --tests "*IntegrationTest"
