name: Pre Merge Checks

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  pre-merge-checks:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Java Version
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Run Gradle tasks
        uses: gradle/gradle-build-action@v2
        with:
          arguments: preMerge --continue

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        with:
          name: test-results-${{ matrix.os }}
          path: plugin-build/build/reports/tests/
        if: always()

      - name: Build the Debug variant
        uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}
          arguments: assembleDebug

      - name: Build the Release variant
        uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}
          arguments: assembleRelease
