name: Pre Merge Checks

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  pre-merge-checks:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Java Version
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@7e48093f71aa12588241894ff3695e83c4b5e4b0 # pin@v2

      - name: Run Gradle tasks
        if: runner.os != 'Windows'
        run: ./gradlew preMerge --continue

      - name: Upload Test Results
        uses: actions/upload-artifact@v3
        with:
          name: test-results-${{ matrix.os }}
          path: plugin-build/build/reports/tests/
        if: always()

      - name: Build the Debug variant
        run: ./gradlew assembleDebug

      - name: Build the Release variant
        run: ./gradlew assembleRelease
