name: Pre Merge Checks

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-merge-checks:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Java Version
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # pin@v4

      - name: Run Gradle tasks
        if: runner.os != 'Windows'
        run: ./gradlew preMerge --continue

      - name: Upload Test Results
        uses: actions/upload-artifact@v5
        with:
          name: test-results-${{ matrix.os }}
          path: plugin-build/build/reports/tests/
        if: always()

      - name: Build the Debug and Release variants
        run: ./gradlew assemble
