name: Pre Merge Checks

on:
  push:
    branches:
      - main
      - release/**
      - feat/bytecode-instrumentation
  pull_request:

jobs:
  pre-merge-checks:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Cache Gradle Files
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: cache-gradle-${{ matrix.os }}
          restore-keys: |
            cache-gradle-

      - name: Setup Java Version
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: Run Gradle tasks
        run: make preMerge

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        with:
          name: test-results-${{ matrix.os }}
          path: plugin-build/build/reports/tests/
        if: always()

      - name: Build the Debug variant
        run: ./gradlew assembleDebug

      - name: Build the Release variant
        run: ./gradlew assembleRelease
