name: Test Publishing UUID Dry Run

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  publish-dry-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        agp: ["7.0.3"]
        gradle: ["7.2"]
        java: ["11"]
        include:
          - agp: "7.0.3"
            gradle: "7.1.1"
            java: "11"
          - agp: "7.0.3"
            gradle: "7.2"
            java: "11"
          - agp: "7.1.0-beta01"
            gradle: "7.2"
            java: "11"
          - agp: "7.2.0-alpha01"
            gradle: "7.2"
            java: "11"

    name: Publish Dry Run - AGP ${{ matrix.agp }} - Gradle ${{ matrix.gradle }}
    env:
      VERSION_AGP: ${{ matrix.agp }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Java Version
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}

      - name: Build the Release variant
        uses: gradle/gradle-build-action@v1
        with:
          gradle-version: ${{ matrix.gradle }}
          arguments: assembleRelease
          distributions-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true

      - name: Check sentry-debug-meta.properties inside APKs
        run: |
          unzip ./examples/android-gradle/build/outputs/apk/release/android-gradle-release-unsigned.apk -d output
          cat output/assets/sentry-debug-meta.properties
          rm -r output
          unzip ./examples/android-gradle-kts/build/outputs/apk/release/android-gradle-kts-release-unsigned.apk -d output
          cat output/assets/sentry-debug-meta.properties
          rm -r output

      - name: Build the Release Bundle variant
        uses: gradle/gradle-build-action@v1
        with:
          gradle-version: ${{ matrix.gradle }}
          arguments: bundleRelease
          distributions-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true

      - name: Check sentry-debug-meta.properties inside App Bundle
        run: |
          unzip ./examples/android-gradle/build/outputs/bundle/release/android-gradle-release.aab -d output
          cat output/base/assets/sentry-debug-meta.properties
          rm -r output
          unzip ./examples/android-gradle-kts/build/outputs/bundle/release/android-gradle-kts-release.aab -d output
          cat output/base/assets/sentry-debug-meta.properties
          rm -r output
