name: Test Publishing UUID

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      AUTO_UPLOAD: true
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # pin@v4

      - name: Build the Release variant
        run: ./gradlew assembleRelease --no-build-cache | tee gradle.log

      - name: Verify that Native Symbols were uploaded
        run: grep "Uploaded [1-9][0-9]* missing debug information file" gradle.log
        if: env.SENTRY_AUTH_TOKEN != null
