name: Test Publishing UUID

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    branches:
      - '*'

jobs:
  publish:
    if: ${{ github.repository == 'getsentry/sentry-android-gradle-plugin' || github.event.pull_request.head.repo.full_name == 'getsentry/sentry-android-gradle-plugin'}}
    runs-on: ubuntu-latest

    env:
      AUTO_UPLOAD: true
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Cache Gradle Files
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: cache-gradle-${{ matrix.os }}
          restore-keys: |
            cache-gradle-

      - name: Build the Release variant
        run: ./gradlew assembleRelease | tee gradle.log

      - name: Verify that Native Symbols were uploaded
        run: grep "Uploaded 4 missing debug information files" gradle.log
