name: Test Publishing UUID

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      AUTO_UPLOAD: true
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-includes: |
            caches
            notifications
            jdks
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Build the Release variant
        run: ./gradlew assembleRelease | tee gradle.log

      - name: Verify that Native Symbols were uploaded
        run: grep "Uploaded [1-9][0-9]*? missing debug information files" gradle.log
        if: env.SENTRY_AUTH_TOKEN != null
