name: Test Publishing UUID

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      AUTO_UPLOAD: true
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v6

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # pin@v4

      - name: Build the Release variant
        run: ./gradlew assembleRelease --no-build-cache | tee gradle.log

      - name: Verify that Native Symbols were uploaded
        run: grep "Uploaded [1-9][0-9]* missing debug information file" gradle.log
        if: env.SENTRY_AUTH_TOKEN != null
