name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: '0 3 * * *'
  # And on on every PR merge so we get the updated dependencies ASAP, and to make sure the changelog doesn't conflict.
  push:
    branches:
      - main

jobs:
  cli:
    if: github.repository == 'getsentry/sentry-android-gradle-plugin'
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: plugin-build/sentry-cli.properties
      name: CLI
    secrets:
      # If a custom token is used instead, a CI would be triggered on a created PR.
      api-token: ${{ secrets.CI_DEPLOY_KEY }}
      #  api-token: ${{ github.token }}

  android:
    if: github.repository == 'getsentry/sentry-android-gradle-plugin'
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: scripts/update-android.sh
      name: Android SDK
    secrets:
      # If a custom token is used instead, a CI would be triggered on a created PR.
      api-token: ${{ secrets.CI_DEPLOY_KEY }}
      # api-token: ${{ github.token }}
