name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: '0 3 * * *'
  # And on on every PR merge so we get the updated dependencies ASAP, and to make sure the changelog doesn't conflict.
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  actions: write

jobs:
  cli:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: plugin-build/sentry-cli.properties
          name: CLI
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}

  android:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: scripts/update-android.sh
          name: Android SDK
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}
